<h1>All Ads</h1>
<%= @advertisements.each do |ad| %>
    <div class="media">
        <div class="media-body">
            <h2 class="media-heading">
                <%= link_to "$#{ad.price}: #{ad.title}", ad %>
            </h2>
        </div>
    </div>
<% end %>
